* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #383434;
}

html {
    background-image: url("https://www.bellacor.com/dw/image/v2/BFKX_PRD/on/demandware.static/-/Sites-masterCatalog_bellacor/default/dw33fe202c/images/large/238801PR33835.jpg?sw=600");
}


h1 {
    margin-top: 50px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 50px;
    color: #383434;
    font-family: 'Cormorant SC', serif;
}

h2 {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: #383434;
    font-family: 'Raleway', sans-serif;
}

.contact-list {
    text-align: center;
    margin: 200px;
    padding: 100px;
    border:1px solid #383434;
    border-radius: 6px;
    background-color: #231d1d39;
    backdrop-filter: blur(2px);

}

.contact-list-item {
font-size: 25px;
color: #383434;
font-family: 'Cormorant SC', serif;
}
